commands:
  000_swapoff:
    command: sudo swapoff -a
  001_dd:
    command: sudo dd if=/dev/zero of=/swapfile bs=1M count=3072
  002_mkswap:
    command: sudo mkswap /swapfile
  003_swapon:
    command: sudo swapon /swapfile

  004_node_get:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation (visit https://rpm.nodesource.com for latest)
    command: 'curl --silent --location https://rpm.nodesource.com/setup_11.x | sudo bash -'

  005_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'sudo yum -y install nodejs'
