commands:
commands:
  000_dd:
    command: dd if=/dev/zero of=/swapfile bs=1M count=3072
  001_mkswap:
    command: mkswap /swapfile
  002_swapon:
    command: swapon /swapfile

  003_node_get:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation (visit https://rpm.nodesource.com for latest)
    command: 'curl --silent --location https://rpm.nodesource.com/setup_11.x | sudo bash -'

  004_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'sudo yum -y install nodejs'
