<div class="row"><div class="col-md-12">Gear Slots for Gear Tier: <%= '  ' + tier.to_s %></div></div>

<table class="table table-hover table-striped">
  <thead class="color-header">
    <tr>
      <th>Slot Number</th>
      <th>Gear ID</th>
      <th>Level Required</th>
    </tr>
  </thead>

  <tbody>
    <% character_gear_tier.character_gear_slots.order("character_gear_slots.slot_number ASC").each do |gear_slot| %>
    <tr>
        <td><%= gear_slot.slot_number %></td>
        <td><%= gear_slot.gear_identifier %></td>
        <td><%= gear_slot.level_requirement %></td>
    </tr>
    <% end %>
  </tbody>
</table>
