<div class="headshot">
  <div class="thin-col" style="position: relative;">
    <div title="<%= character.name %>" class="headshot-holder">
      <div class="roster headshot-pix is-centered roster<%= character.identifier.downcase %>"></div>
    </div>
    <svg width="120" height="120" style="position: absolute;">
      <circle cx="60" cy="77" r="40" stroke="#727372" stroke-width="2" fill="transparent"></circle>
    </svg>
  </div>
</div>

