<%= render 'character_header', character: @character %>
<ul class="tabrow">
    <li><%= link_to 'Abilities', @character %></li>
    <li class="selected"><a href="#">Gear</a></li>
    <li><%= link_to 'Stat Mods', stat_mods_character_path(@character) %></li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'gear_tier_table', character: @character %>
  </div>
</div>


