<!-- start banner Area -->
<div class="banner relative" id="home">
  <div >
    <div class="row align-items-center justify-content-center">
      <div class="banner-content py-4 col-md-12">
        <h1 class="">
          Nicole Hall
        </h1>
        <h4><div class="tag-line" style="color: white;">Modern fantasy romance.  Adventures in sexy chaos.</div></h4>
      </div>
    </div>
  </div>
</div>
<!-- End banner Area -->
