<%= render 'banner' %>

<div class="profile-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9 profile-body ">
        <%= image_tag("NicoleHallBooks.jpg", style: 'float:left;height:250px;margin:10px;') %>

        <p>Nicole Hall is an aspiring dancer-turned teacher-turned dancer who writes sexy books for fun. She’s lived in California, Texas, Wisconsin, and New Delhi, India. She settled down in Colorado at the foot of the Rocky Mountains with her husband, two little boys, and two sassy cats, where she constantly feels outnumbered. </p>
        <p>Despite her best intentions, she obtained a Ph.D. in English…and did nothing with it. After years of teaching college freshmen and writing literary short stories, she switched to teaching dance fitness classes and writing paranormal romance novels. She’s much less stabby now. </p>
        <p>Her current obsessions include dragons, llamas, superheroes, baking chocolate-banana muffins, and writing about the problems the fae can cause in a small town in east Texas. You can often find her procrastinating on Instagram at: instagram.com/nicolehallbooks or on Facebook at: facebook.com/nicolehallbooks.</p>
        <p>If you want to know when Nicole’s next book will come out, sign up for her newsletter to receive an email when she has her next release. </p>

      </div>

      <div class="col-md-3 px-2">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>
