<%= page_heading "About" %>
<%= render 'banner' %>

<div class="profile-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9 profile-body ">
        <%= image_tag("NicoleHallBooks.jpg", style: 'float:left;height:250px;margin:10px;') %>

        <p>Nicole Hall is a smart-ass with a Ph.D. and a potty mouth. She writes stories that have magic, sass, and romance because she believes that everyone deserves a little happiness. Coffee makes her happy, messes make her stabby, and she’d sell one of her children for a second season of Firefly. Her paranormal romance series, Modern Magic, is available now.</p>

        <p>Fairies, heroes, and shifters, oh my! Read what happens when magic is real, fairies are assholes, and only a select few know about it, then let Nicole know what you thought because she really does love hearing from readers. Find her at www.nicolehallbooks.com and on social media!</p>

        <p>Facebook: <a href="https://www.facebook.com/nicolehallbooks">www.facebook.com/nicolehallbooks</a></p>

        <p>Instagram: <a href="https://www.instagram.com/nicolehallbooks">www.instagram.com/nicolehallbooks</a></p>

        <p>Amazon: <a href="https://www.amazon.com/Nicole-Hall/e/B085VLG75K">www.amazon.com/Nicole-Hall/e/B085VLG75K</a></p>

        <p>Bookbub: <a href="https://www.bookbub.com/authors/nicole-hall">www.bookbub.com/authors/nicole-hall</a></p>

        <p>Want to find out when the newest Nicole Hall book hits the shelves? Sign up for the weekly Muse Interrupted newsletter – https://geni.us/museinterrupted. You’ll get a welcome gift, the Modern Magic ebook, plus new release info, giveaways, exclusive content, and previews of new books especially for fans.</p>

      </div>

      <div class="col-md-3 px-2">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>
