<%= page_heading "Privacy" %>
<%= render 'banner' %>

<div class="py-4">
  <div class="container">
    <h3>Privacy Policy</h3>

    <p>February 24, 2020</p>

    <p>This Privacy Policy is designed to inform you about what personally identifiable information
    (PII) this website collects and what may be done with that PII.</p>

    <p>You are not required to submit any PII to use this website. However, the server for this website
    may collect data about your visit, your computer’s IP address, browser type, operating system,
    geographic location, referral source, pages visited, and other “analytics” data. I may review that
    data from time to time to understand how the website is used and to improve the website for
    users. I do not currently provide that data to any third parties, but may in the future release it to
    publishers or agents interested in my work.</p>

    <p>I do not track users after they visit my site.
    At your election, you may provide your email address to receive my newsletter and other emails.
    If at any time you would like me to remove your PII from my database, please email me directly
    at nicolehallbooks@gmail.com. You may unsubscribe from my blog and mailing list by clicking
    on the unsubscribe link on any newsletter.</p>

    <p>Please do not disclose to me the PII of any other person without that person’s consent.
    This site is directed to adults and not directed to children under the age of 13. I ask that minors
    not submit any PII. This site complies with the Children’s Online Privacy Protection Act and
    does not permit registration by, and will not knowingly collect personally identifiable
    information from, anyone under 13 years of age.</p>

    <p>I will take reasonable technical precautions to prevent the loss, misused or alteration of your PII.</p>

    <p>I will not provide your email address or any other PII to any other person, other than (i) to
    Mailerlite or other provider which assists me in sending newsletters and emails, or (ii) if required
    to be disclosed by law or in connection with any actual or threatened legal proceeding.
    My website includes hyperlinks to other websites. I have no control over and am not responsible
    for the privacy policies and practices of other websites and blogs.</p>

    <p>You may copy and quote from my website and blog without limitation, so long as you provide
    attribution to me and a link back to my site.</p>

    <p>I may update this Privacy Policy from time to time by posting an undated version on my website.</p>

  </div>
</div>
