<%= page_heading "Signup" %>

<div class="full-2 py-4">
  <div class="banner2">
    <div>
      <div class="row">
        <div class="banner-content2 py-0 col-md-12">
          <h1 class="">
            Nicole Hall Books
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container vertical-center">

    <div class="row align-items-center justify-content-center" style="width: 100%">
      <div class="col-4">
        <%= image_tag("signupimage.png", class: 'signup-image') %>
      </div>

      <div id="signup_box" class="outer-grey-box col-8 align-items-center justify-content-center"  style="text-align: center;">
        <div class="row-form inside-text">
          <div class="align-items-center justify-content-center"  style="text-align: center;">
            <h4 class="signup-h4">Magic. Sass. Romance.</h4>
            <p class="signup-p">To get your free ebook, you just need to tell me where to send it. Enter your email address to get your story delivered to your inbox. You'll also be added to my weekly newsletter, and you'll be the first to know next time I have some cool stuff to give away (you can unsubscribe at any time).</p>
            <br>
          </div>

          <%= form_for(@subscription) do |f| %>
            <div class="signup-form-content row align-items-center justify-content-center">
              <%= f.text_field :email, placeholder: " Your Email Address ", class: 'form-control input-lg col-6' %>
              <button type="submit" class="subscribe-button col-4" id="sendsub">Send My Free Book</button>
            </div>
            <br>
            <div>
              (We value your privacy and would never spam you)
            </div>
          <% end %>
        </div>
      </div> <!-- text block and subscribe area -->
    </div> <!-- image/subscribe row -->
  </div>
</div>
