<%= page_heading "Signup" %>

<div class="full-2 py-4">
  <div class="container vertical-center">
    <div class="row">
      <div class="col-4">
        <%= image_tag("MMkindle.png", class: 'signup-image') %>
      </div>

      <div id="signup_box" class="outer-grey-box col-8">
        <div class="row-form inside-text">
          <div>
            <h4 class="signup-h4">She made a new friend...with a summoning circle.</h4>
            <p class="signup-p">To get your free ebook, you just need to tell me where to send it. Enter your email address to get your story delivered to your inbox. You'll also be added to my weekly newsletter, and you'll be the first to know next time I have some cool stuff to give away (you can unsubscribe at any time).</p>
            <br>
          </div>

          <%= form_for(@subscription) do |f| %>
            <div class="signup-form-content row">
              <%= f.text_field :email, placeholder: " Your Email Address ", class: 'form-control input-lg col-6' %>
              <button type="submit" class="subscribe-button col-4" id="sendsub">Send My Free Book</button>
            </div>
            <div class="row">
              <div style="padding-left: 20px;"><p>(We value your privacy and would never spam you)</p></div>
            </div>
          <% end %>
        </div>
      </div> <!-- text block and subscribe area -->
    </div> <!-- image/subscribe row -->
  </div>
</div>
