<%= page_heading "Contact" %>
<%= render 'banner' %>

<div class="profile-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 profile-body ">
      	<br>
      	<br>
        <h1>Thank you for subscribing!</h1>
        <br>
        <p>You can use the menus at the top to look through the rest of our website.</p>
      </div>
    </div>
  </div>
</div>
