<%= page_heading "Contact" %>
<%= render 'banner' %>

<div class="full-2 py-4">
  <div class="container vertical-center">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-md-7 profile-body ">
      	<br>
      	<br>
        <h1>Thank you</h1>
        <br>
        <p>Almost finished, I need to confirm your email address.</p>
        <p>Please click the link in the email I just sent you and we're done.</p>
        <br>

        <%= button_to 'Back to Home', root_path, class: "home-button", method: :get %>
      </div>
    </div>
  </div>
</div>
