@font-face {
    font-family: 'playlistscript';
    src: url(asset-path('playlist_script-webfont.woff2')) format('woff2'),
         url(asset-path('playlist_script-webfont.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anaktoriaregular';
    src: url(asset-path('anaktoria-webfont.woff2')) format('woff2'),
         url(asset-path('anaktoria-webfont.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyasancscregular';
    src: url(asset-path('alegreya-sans-sc-v20-latin-regular.woff2')) format('woff2'),
         url(asset-path('alegreya-sans-sc-v20-latin-regular.woff')) format('woff');
    font-weight: normal;
    font-style: normal;
}

.banner {
  right: 0;
  left: 0;
  background-image: image-url("nicole-cover.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100% !important;
  min-width: 400px;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  font-family: 'playlistscript';
  font-size: 150px;
  font-weight: 700;
  line-height: 1.15em;
  margin-bottom: 20px;
  background: #d80e8a;
  padding: 10px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-nikki {
  text-shadow: -2px -2px white;
}

.nikki-dot {
  height: 10px;
  width: 10px;
  background-color: #d80e8a;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.tag-line-nikki {
  font-family: 'alegreyasancscregular';
  display: inline-block;
  font-size: 40px;
}

.tag-line-nicole {
  font-family: 'anaktoriaregular';
  display: inline-block;
  font-size: 40px;
}

.banner2 {
  right: 0;
  left: 0;
  background-image: image-url("nicole-cover.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100% !important;
  min-width: 400px;
}

.banner-content2 {
  text-align: center;
}

.banner-content2 h1 {
  font-family: 'playlistscript';
  font-size: 50px;
  font-weight: 700;
  line-height: 1.15em;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}

.fabars {
  background-image: image-url("fa5/solid/bars.svg");
  color: black;
}


/* non-white background for expanded nav menu on mobile */
@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 70px;
  }
  .tag-line {
    font-size: 40px;
  }
}


