// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thin_hr {
  margin-top:0;
  margin-bottom:0;
  border:0;
  height:1px;
  background-color:black;
}
