.news-post {
  max-width: 720px;
  margin-top: 30px;
  font-family: 'Lato';
}

.news-title {
  font-family: 'Lato';
}

.news-body {
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 24.6px;
}

.news-body a {
  color: #ca9b52;
}
