.profile-container {
  background-image: image-url("white-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Lato';
}


.profile-body p {
  font-family: 'Lato';
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 34.6px;
}


.full-2 {
  background-image: image-url("white-background.png");

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .full-2 {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}