.profile-container {
  background-image: image-url("white-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Lato';
}



.profile-body p {
  font-family: 'Lato';
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 34.6px;
}
