.signup-image {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-align: center;
	margin: 0 auto;
	clear: both;
	
	margin-left: auto;
	margin-right: auto;

	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.signup-tagline {
	word-wrap: break-word;
	text-transform: none;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin-top: .5em;
	margin-bottom: 1em;
	color: #555d66;
	font-size: 13px;
	text-align: center;
	width: 40%;
}

.signup-image-wrapper {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin-bottom: 20px;
	text-align: center;
	width: 60%;
}

.outer-grey-box {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	text-align: center;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	background-color: #f6f6f6;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 40%;

	border-width: 3px;
    border-color: #39DBB4;
    border-style: dotted;
}

.inside-text {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	text-align: center;
	box-sizing: border-box;
	margin: 0px 0px 20px 0px;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	padding: 20px 20px 0px 20px;
}

.signup-h4 {
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-style: inherit;
	line-height: 1.4;
	text-transform: none !important;
	letter-spacing: normal !important;
	color: #000000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 10px 0;
	text-align: left;
	word-break: break-word;
}

.signup-p {
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-style: inherit;
	text-decoration: none;
	text-transform: none !important;
	letter-spacing: normal !important;
	color: #000000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin: 0;
}

.signup-form {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	width: 100%;
}

.signup-form-content {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0 0 20px 0;
	width: 100%;
}

.signup-form-perms {
	word-wrap: break-word;
	color: #000000;
	text-transform: none;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 15px 0 15px 0;
	text-align: left;
}

.email-checkbox {
	word-wrap: break-word;
	color: inherit;
	font: inherit;
	box-sizing: border-box;
	padding: 0;
	background-color: #fff;
	border: 1px solid #bbb;
	line-height: 0;
	min-width: 16px;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	clear: none;
	cursor: pointer;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	transition: 0.05s border-color ease-in-out;
	display: inline-block;
	float: left;
	margin: 1px 0 0 0;
	left: 0;
	top: 0;
	opacity: 1;
	visibility: visible;
	-webkit-appearance: checkbox !important;
	position: relative;
}

.email-label {
	word-wrap: break-word;
	text-transform: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	color: #000000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	text-align: left;
	padding-left: 25px;
}

.description {
	word-wrap: break-word;
	text-transform: none;
	text-align: left;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	color: #000000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	line-height: 18px;
	margin: 5px 0 0 0;
}

.mailer-info {
	word-wrap: break-word;
	text-align: left;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	text-transform: none !important;
	letter-spacing: normal !important;
	color: #000000;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	margin: 0;
	padding: 0;
}

.subscribe-button {
	word-wrap: break-word;
	font: inherit;
	overflow: visible;
	display: inline-block;
	margin: 0;
	text-align: center;
	transition: all 0.3s ease;
	text-transform: none !important;
	letter-spacing: normal !important;
	border: none !important;
	border-radius: 4px !important;
	box-shadow: none !important;
	color: #ffffff !important;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	line-height: 20px !important;
	height: 40px;
	padding: 10px !important;

	box-sizing: border-box !important;
}

.subscribe-button:enabled {
	background-color: #8e44ad !important;
}
.subscribe-button:disabled {
	background-color: #D3D3D3 !important;
	cursor: not-allowed;
}

.vertical-center {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-button {
	background-color: #8e44ad !important;
	color: white;
}